---
import { SEO } from "astro-seo";

const title = "QuranX",
descr = "An online Quran reading & learning platform",
image = "https://cdn3.iconfinder.com/data/icons/ramadan-filled-outline-2/64/25-Quran-512.png"
---

<html lang="en">
  <head>
    <SEO
      title="A Very Descriptive Title"
      description="A heavily optimized description full of well-researched keywords."
      openGraph={{
        basic: {
          title,
          type: "A type.",
          image,
        }
      }}
      twitter={{
        creator: "@jonasmerlins1"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: image,
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: descr },
        ],
      }}
    />

   <head>
  </head>
    <body>
      <slot />
    </body>
</html>
